.text-slider{
	margin-top: 74px;
}
.quantity-btn{
	margin-top: 10px;
}
.category-img:first-Child{
	padding-left: 0;
}
.category-img{
	padding-left: 15px;
	position: relative;
}
.category-img:last-Child{
	padding-right: 15px;
}
.product-carousel .owl-stage {
	width: 100% !important;
	overflow: hidden;
	display: -webkit-box; 
}
@media  only screen and (max-width: 767px){
	
	.checkout-btn{
    background-color: #150404;
    color: white;
    padding: 2px 1px;
    margin-top: 6px;
    border-radius: 0px;
    text-transform: uppercase;
	}
	.responsive-cont{
		margin-left: 0px;
		margin-right:0px;
	}
	.col-padding:first-Child{
		margin-bottom: 24px;
		padding-left: 17px !important;
	}
	.btn-group-lg>.btn, .btn-lg{
		padding: 10px 116px !important;
	}

	.gallery-firstrow .col-md-4 img{
	position: relative;
	margin-top: 10px;
	}
	.flexslider{
		margin-top: 10px;
	}
	.search-form{
		margin-top: 13px;
	}
	.shopping-cart__content span{
		color: black;
		font-size: 13px !important;
	}

	.flexslider__img {
    height: 177px !important;
    overflow: hidden;
    }
    .responsive .row {
    	margin-right: 0px;
    	margin-left: 0px;
    }
    .gallery-firstrow .col-md-4{
    	margin-bottom: 12px;
    }
    .gallery-firstrow2{
    	margin-top: 0px;
    }
    .col-md-2-5{
	width: 100% !important;
	}
	.product-row{
		display: block;
		width: 100%;
	}

	.respnsve-row{
		margin-left: 10px;
	}
	.title-featured span{
		font-weight: 0px !important;
		font-size: 14px !important;
	}
	.title-featured {
		margin-bottom: 16px !important;
		margin-top: 0px !important;
	}
	.top-footer-row{
		margin-right: 0px;
		margin-left: 0px;
		padding: 0px 0px !important ;
	}
	.home .logo img{
		width: 100%;
	}
	.home .logo{
		padding: 10px 15px 0 !important;
	}
	.mbl-cart-sec{
		margin-bottom: 0;
	}
	.mbl-cart-sec .shopping-cart{
		margin-top: 0 !important;
	}
	.header-search-bar .search-form__button{
	background-color: transparent;
    border: none !important;
    padding-right: 0 !important;
    right: 20px;
    margin-top: 8px;
	}

  .search-form {

    padding-right: 15px;
    padding-left: 15px;
	
	-webkit-border-radius: 3px;

    border-radius: 3px;

    margin-right: 0;

    margin-bottom: 20px;

    display:block;

    float: none; }
    .widget .widget-title{
    	text-align: center;
    }
    .respnsve .col-xs-4{
    	    margin-left: 10%;
    }
    .toggle_menu{
    	width: 52px !important;
    	margin-top: 10px;
    }
    .gridview-pic{
    	height: 214px;
    }
    .gridview-pic2{
    	height: 214px;
    	overflow: hidden;
    }
     .gallery-firstrow2 .col-md-3{
     	margin-bottom: 10px;
     }
     .gallery-firstrow{
 	    margin: 2px -15px;
     }
     .shop-item{
     	width: 100%;
     }
     .shop-item__content{
     	height: 154px;
     }
     .shop-item__price{
     	margin-bottom: 0;
     	line-height: 35px;
     	float: none;
     	text-align: center;
     }

     .shop-item__price span{
     	margin-top: 10px;
     }
    .shop-item__title{
     	margin-bottom: 5px;
     }
	.items-name a{
		color: #777;
		padding-bottom: 5px;
	}
	.product-detail-img{
		height: 300px;
	}
	.cart-section .row{
		margin: 0;
	}
	.mbl-view-header{
		position: fixed !important;
		top: 0;
		z-index: 9999;
		height: 95px !important;
	}
	.search-form__button{
		top: 6px;
	}

	.respnsve-blog{
		margin-left: 5px !important;
		margin-right: 5px !important;
	}
	.respnsve-img-pro{
		width: 100% !important;

	}
	.product-page-responsive{
		margin-left: 5px;
		margin-right: 5px;
	}

	.blog-page-responsive{
		margin-left: 5px;
		margin-right: 12px;
	}
	.shipping-process{
    width: 100% !important;
	}
	.gallery-firstrow2 .col-md-3{
		padding-right: 0px !important;
	}
	.checkout-row{
		margin: 0;
	}
	.checkout-row aside{
		margin-left: 0 !important;
	}
	.checkout-row form .form-group{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.shop-checkout__title{
		font-size: 25px;
	}
	.cart-sectn{
		margin: 0;
	}
	.product-info, .product-price-td, .product-quantity, .product-subtotal, .product-remove{
		font-size: 14px;
		font-weight: 500;
		margin: 10px 0pc;
	}
}	
@media screen and (max-width: 767px) and (min-width: 467px){
	.slides  li{
		position: absolute !important;
		top: 55%;
	}
	.flexslider__img{
		height: 250px !important;
	}	
	.gallery-firstrow{
		margin-top: 50%;
	}
}
.cart-section .col-md-3{
	margin-left: 8.33%;
}
.product-detail-img{
	height: 424px;
	overflow: hidden;
}
.list-view .shop-item .shop-item__img img{
	height: 212px;
}
.list-view .shop-item .shop-item__title{
	padding-left: 5px;
}
.shop-item__price{
	float: none;
}
.lates-prdct-sidebar{
	height: 90px;
	overflow: hidden;
}
.widget_shopping_cart .media > div.media-left > a{
	height: 60px;
}
.items-name{
	text-align: center;
}
.items-name a{
	color: #777;
}
.notifyjs-corner{
	top: 7% !important;
}
#toTop{
	background-color: black;
	color: white;
}
/*Preloader starts here*/
#loading{
	background:#333;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000000;
	margin-top: 0px;
	top: 0px;
}
.logo-loading {
position: relative;
top: 26%;	
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 20px;
	width: 140px;
	margin-top: -10px;
	margin-left: -70px;
	-webkit-animation: loading-center-absolute 1s infinite;
	animation: loading-center-absolute 1s infinite;
 
}
.object{
	width: 20px;
	height: 20px;
	background-color: #FFF;
	float: left;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	margin-right: 20px;
	margin-bottom: 20px;	
}
.object:last-child {
	margin-right: 0px;
 
}
#object_one{
	-webkit-animation: object_one 1s infinite;
	animation: object_one 1s infinite;
	}
#object_two{
	-webkit-animation: object_two 1s infinite;
	animation: object_two 1s infinite;
	}	
#object_three{
	-webkit-animation: object_three 1s infinite;
	animation: object_three 1s infinite;
	}		
#object_four{
	-webkit-animation: object_four 1s infinite;
	animation: object_four 1s infinite;
	}		
	
@-webkit-keyframes loading-center-absolute{
100% {
   -ms-transform: rotate(360deg); 
   	-webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
	}			
	
}		
@keyframes loading-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
   	-webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
	}
}	
@-webkit-keyframes object_one{
50% {
    -ms-transform: translate(20px,20px); 
   	-webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
	}
}		
@keyframes object_one{
50% {
     -ms-transform: translate(20px,20px); 
   	-webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
	}
}
@-webkit-keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
   	-webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
	}
}		
@keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
   	-webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
	}
}
 
@-webkit-keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
   	-webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
	}
}		
@keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
   	-webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
	}
}
 
@-webkit-keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
   	-webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
	}
}		
@keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
   	-webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
	}
}
/*preloader ends here*/
.pro-prce{
	padding-right: 14px;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  padding: 7px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.add_cart{
	position: absolute;    
	z-index: 999;
	top: 85%; opacity: 0 ;
	width: 100%;
	
}
.banner-01__img-wrapp:hover .add_cart {
  opacity: 1;
  color: white;
}
.product_tabs ul li {
	background-color:black !important;
	color: white ;

}
.product_tabs ul li a{
	padding: 17px 30px;

}
.product_tabs .nav-tabs li.active a:hover,.product_tabs .nav-tabs li.active a:active,.product_tabs .nav-tabs li.active a:focus {
    background: black !important;
    color: white;
}
.product_tabs .nav-tabs li.active{
	border:0px;
}
.product_tabs .nav-tabs li.active a{
	 background: black !important;
	 border:0px;
    color: white;
}
.product_tabs .nav-tabs li a:hover{
	 background: black !important;
    color: white;
}
input[type=checkbox].css-checkbox{ display: none; }

.css-label{
    margin-left: 14px;
    display: flex;
    width: auto;
    height: 26px;
    padding: 2px;
    cursor: pointer;

}


input[type=checkbox].css-checkbox:checked + label.css-label {
 background-position: 0 0;
 border: 3px solid #2FBCDF;
}

input[type=radio].css-checkbox{ display: none; }


input[type=radio].css-checkbox:checked + label.css-label {
 background-position: 0 0;
 border: 3px solid #2FBCDF;
}
.title-product{
	text-align: left !important;
	border-bottom: 1px solid lightgray;
	font-size: 25px;
	text-transform:uppercase !important;
	color: black;
}
.blog_title{
	margin: 40px 0px;
    color: black;
    font-size: 28px;
    border-bottom: 1px solid lightgray;
    text-transform:uppercase !important;
}
.blog-des p{
  width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog-des p:nth-Child(2){
	display: none;
}
.blog-des{
	height: 30px;
	overflow: hidden;
}

.respnsve-img-pro{
	width: 20%;
}
.img-height{
	height: 204px;
    
    overflow: hidden;
    display: block;
}
.wrap-title{
	width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.product-info, .product-price-td, .product-quantity, .product-subtotal, .product-remove{
	text-transform: capitalize;
}
.title-row{
	margin: 0;
}
.title-row .col-xs-8{
	padding-left: 7px;
}
.title-row .col-xs-8 .text-heading{
	line-height: 18px;
	font-size: 13px;
	margin: 0;
	width: 100px;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	display: inline-block;
  	overflow: hidden;
}

  @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

  body {
    background: #fff;
    color: #000;
    margin: 0;
  }

  .tiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tile {
    position: relative;
    float: left;
     overflow: hidden;
  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

  .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
  }

  .x {
    font-size: 32px;
    line-height: 32px;
  }
 .sub-align{
 	color: white;
    width: 71% !important;
    left: 22% !important;
    
}
.image-list
{
  width: 100%;
  height: 270px;
  /*border: 1px solid lightgray;*/

} 

/* Style the list */
.breadcrumb{
	background-color: white !important;
	float: right !important;
	 width: 40%;
}
.breadcrumb>li:before{
	background: transparent !important;
}
.breadcrumb>li a{
	color: black;
}
.breadcrumb>li+li:before{
	background: transparent !important;
	margin-top: 0 !important;
	font-size: 23px;
	color: black;
	background-color: white !important;
}
.col-md-2-5 .sales-tag{
	position: absolute;
    left: 74%;
    top: 0px;
    background: red !important;
    color: white;
    border-radius: 15px;
    padding: 0px 13px;
}
.panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.contact-panel{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.contact-panel h3{
	margin: 0 0 3px;
	text-transform: capitalize;
    font-weight: 500;
    font-size: 24px;
}
.col-padding:first-Child{
	padding-left: 0;
}
.col-padding:last-Child{
	padding-right: 0;
}
.col-padding{
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.contct-body{
	padding-right: 0;
	padding-left: 0;
}
.contct-body form input{
	border: 1px solid black;
	height: 40px;
	border-radius: 0;
	text-align: center;
}
.contct-body form textarea{
	border: 1px solid black;
	border-radius: 0;
	text-align: center;

}
.subnav-content{
	box-shadow: 1px 1px 15px 0px rgba(33,33,33,.2); 
	/*border-top:  2px solid black !important;*/
}
.sub-men a{
	font-size: 13px !important;
}
}
.box {
  transition: box-shadow .3s;
  width: 300px;
  height: 400px;
  margin: 50px;
  border-radius:10px;
  background: #fff;
  float: left;
  
}
.box:hover {
  box-shadow: 1px 1px 15px 0px rgba(33,33,33,.2); 
  border: 1px solid lightgray !important;
}
.wrapping-txt{
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.productss-carousel{
  height: 79px;
}
#itemSlider .productss-carousel{
  height: 95px;
  overflow: hidden;
  margin: 20px 0;
}
#itemSlider .owl-stage-outer{
  width: 100%;
}
#itemSlider .productss-carousel .owl-dots{
	position: absolute;
    top: 78%;
    left: 41%;
}
#itemSlider .productss-carousel .owl-nav .owl-prev{
  position: absolute;
  top: 40%;
  font-size: 56px;
  color: skyblue;
}
#itemSlider .productss-carousel .owl-nav .owl-next{
  position: absolute;
  right: 0px;
  top: 40%;
  font-size: 56px;
  color: skyblue;
}
#itemSlider .owl-stage .owl-item{
  margin-right: 10px;
}
.productss-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
  display: block;
}